<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="authKey" value="c87dec62-1b20-4655-ac57-d212a941f09d" />
    </appSettings>
   <system.serviceModel>
    <bindings>
     <basicHttpBinding>
      <binding name="SecuredHttpBinding_IDriverLicenseParser" closeTimeout="00:01:00"
       openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
       allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
       maxReceivedMessageSize="65536" useDefaultWebProxy="true">
       <security mode="Transport" />
      </binding>
     </basicHttpBinding>
    </bindings>
    <client>
     <endpoint address="https://app.idware.net/dlp-ws/DriverLicenseParser.svc"
      binding="basicHttpBinding" bindingConfiguration="SecuredHttpBinding_IDriverLicenseParser"
      contract="IDScanWebAPI.IDriverLicenseParser" name="SecuredHttpBinding_IDriverLicenseParser" />
    </client>
  </system.serviceModel>
</configuration>